body {
  background-color: #F8F8FF; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
  color: #FF0000; 
}

h1 {
    font-size: 42px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

h2 {
    font-size: 48px;
    padding: 15px;
    margin: 20px;
}

h3 {
    font-size: 24px;
    padding: 15px;
    margin: 20px;
}

p {
  color: #000; 
  font-size: 18px;
  margin: 60px;
}

ul {
    color: #01a260;
    font-size: 18px;
    margin: 40px;
}

div {
    width: 15em;
    height: 15em;
    background-color: #ddd ;
    border: 5px solid #004baa;
    padding: 15px;
    margin: 15px;

    p {
        font-size: x-large;
        color: #004baa;
    }

}